{% load static %}

<!DOCTYPE html>
<html>
<head>
<style>
body {


   background-image:url"{% static "templates/download.jpg" %}"

}
h1 {
    color: red;
    margin-left: 80px;
}
</style>
</head>
<body>
<h1>Click on the below button.</h1>


<a href="{% url 'visualise' %}"> visualise </a> <p>


<form method="get" action="http://smartfasal.in/wp">
  <button type="submit">Analyse the data</button>
</form>
<p>
  <form method="get" action="http://smartfasal.in/wp">
    <button type="submit">Predict the observations </button>
  </form>
  <p>

  <form method="get" action="http://127.0.0.1:8000/results">
    <button type="submit"> FTP test </button>
    </form>







</body>
</html>
